body {
  padding: 1px 1px 1px 1px;
  position: absolute;
  width: 1440px;
  font-family: sans-serif;
}

header{
  width: inherit;
  height: 150px;
  background-color: #444;
  clear: both;

}

nav ul {
  width: 960px;
  margin: 0px 150px 0px 115px;
}

a {
  text-decoration: none;
  color: #888;
}

header li{
  display: inline-block;
  margin-top: 40px;
  margin-right: 85px;
}

ul{
  width: 985px;
  margin: 15px 0px 30px 12px;
  padding: 0;
}
 li{
   display: inline-block;
   margin-right: 15px;
 }

main  {
  width: 1000px;
  margin: 15px 100px 0px 100px;
  padding: 0;
}

#hero{
  margin: 15px 15px 15px 15px;
  padding: 0;
}

#center{
  margin: 0px 15px 0px 15px;
}

section {
  width: 990px;
  height: auto;
  margin: 0;
  padding: 0;
}

section img {
  float: left;
  width: 480px;
  height: 400px;
  margin: 0px 30px 30px 0px;
}

section article {
  float: left;
  width: 480px;
  height: 400px;
}

h2 {
  font-size: 24px;
}

p {
  overflow: scroll;
  height: 316px;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  margin: 10px 0px 10px 0px;
 }
button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: #444;
  color: #888;
  font-size: 18px;
}

a:hover, button:hover {
  transition: background 0.6s ease, padding 0.2s linear;
  background-color: #fff;
  color: #444;
  cursor: pointer;
}

footer {
  clear: both;
  background: #444;
  width: 100%;
  height: 150px;
}
